html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
width: 100%;
}

.top{
	background: #000000;
	color: white;
}

input{
	text-align: center;
}

.input-val{
	position: relative;
	padding: 70px;
}

.input-val > .form-value{
  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.top-output{
	position: relativ;
	padding: 0 20px 0 20px;
	text-align: center;
}

.a, .b, .c{
	border: 2px solid green;
}



@media screen and (min-width: 600px){
	
	.c{
	margin-left: 30px;
}
	
	.top-output{
	position: relative;
	padding: 0 50px 0 50px;
	text-align: center;
	color: white;
	
}

.top{
	background: #000000;
}
	
.input-val{
	position: relative;
	padding: 70px;
	text-align: center;
}

.input-val > .form-value{
  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
body{
	background: #ccc;
	wiidth: 100%;
	overflow: hiding;
}
}